<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>The Review Point</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.3.js}"></script>
<link rel="stylesheet" th:href="@{/css/fa-stars.css}" />
<script type="text/javascript" th:src="@{/js/jquery.star-rating.js}"></script>
<script>
	jQuery(function($) {
		$('.rating').star_rating();
	});
</script>
</head>
<body>
	<div class="jumbotron">
		<h2 class="text-danger">The Review Point</h2>
	</div>
	<div th:include="header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<h2 class="text-danger">
					<strong>Latest User Reviews</strong>
				</h2>
				<br />
				<div class="panel panel-warning" th:each="review :${reviews}">
					<div class="panel-heading">
						<h5 class="text-danger"
							th:text="${review.car.brand+' '+review.car.model}"></h5>
						<span class="rating text-right" th:text="${review.rating}"></span>
					</div>
					<div class="panel-body">
						<p class="text-left" th:text="${review.review}"></p>
						<p class="text-right" th:text="${'-'+' '+review.person.firstname}"></p>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="pagination pagination-centered">
					<ul class="pagination">
						<li th:class="${currentIndex==1}? 'disabled' : ''"><span
							th:if="${currentIndex==1}">First</span> <a
							th:if="${currentIndex !=1}" th:href="@{/user/reviews/pages/1}">First</a></li>

						<li th:class="${currentIndex!=1} ? '' : 'disabled'"><span
							th:if="${currentIndex==1}">&lt;&lt;</span><a
							th:if="${currentIndex!=1}"
							th:href="@{/user/reviews/pages/}+${currentIndex-1}"
							title="Go to previous page">&lt;&lt;</a></li>

						<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
							th:class="${item==currentIndex ? 'active' : ''}"><span
							th:if="${item==currentIndex}" th:text="${item}">1</span><a
							th:if="${item!=currentIndex}"
							th:href="@{/user/reviews/pages/}+${item}"><span
								th:text="${item}"> 1</span></a></li>

						<li th:class="${currentIndex != totalPageCount}? '' :'disabled'">
							<span th:if="${currentIndex == totalPageCount}">&gt;&gt;</span><a
							th:if="${currentIndex != totalPageCount}"
							th:href="@{/user/reviews/pages/}+${currentIndex+1}"
							title="Go to next page">&gt;&gt;</a>
						</li>

						<li th:class="${currentIndex==totalPageCount} ? 'disabled' : ''">
							<span th:if="${currentIndex == totalPageCount}">Last</span> <a
							th:if="${currentIndex != totalPageCount}"
							th:href="@{/user/reviews/pages/}+${totalPageCount}">Last</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer :: footer"></div>
	<script th:src="@{/js/data-table.js}" type="text/javascript"></script>
</body>
</html>