<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Details and Review</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.3.js}"></script>
<link rel="stylesheet" th:href="@{/css/fa-stars.css}" />
<script type="text/javascript" th:src="@{/js/jquery.star-rating.js}"></script>
<script>
	jQuery(function($) {
		$('.rating').star_rating();
	});
</script>
</head>
<body>
	<div th:include="header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="panel panel-info col-md-12 colsm-12 col-xs-12">
				<div class="panel-heading" th:each="carDetail : ${details}">
					<h2 th:text="${carDetail.brand} + ' ' +${carDetail.model}"></h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img th:src="@{/img/left-box-2.jpg}"
								class="img-responsive img-rounded" alt="Image" width="340"
								height="240"></img>
						</div>
						<div th:each="carDetail : ${details}"
							class="col-md-3 col-sm-3 col-xs-3">
							<h3 class="text-danger">
								<strong>Details :</strong>
							</h3>
							<h3 class="text-primary" th:text="${carDetail.details}"></h3>
						</div>
						<div th:each="carDetail : ${details}"
							class="col-md-3 col-sm-3 col-xs-3">
							<h3 class="text-danger">
								<strong>Variant :</strong>
							</h3>
							<h3 class="text-primary" th:text="${carDetail.variant}"></h3>
						</div>
						<div th:each="carDetail : ${details}"
							class="col-md-3 col-sm-3 col-xs-3">
							<h3 class="text-danger">
								<strong>Price :</strong>
							</h3>
							<h3 class="text-primary" th:text="${carDetail.price}"></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="back">
				<h4>
					<a th:href="@{/viewCars}" class="btn btn-sm btn-primary"> Go
						back</a>
				</h4>
			</div>
		</div>
	</div>
	<hr />

	<div class="container">
		<h3 class="text-danger" th:text="${success}"></h3>
		<h1 class="text-primary">Related Reviews</h1>
		<div class="panel panel-warning" th:each="review :${reviews}">
			<div class="panel-heading">
				<span class="rating text-warning" th:text="${review.rating}">/5</span>
			</div>
			<div class="panel-body">
				<p class="text-left" th:text="${review.review}"></p>
				<p class="text-right text-danger"
					th:text="${'-'+' '+review.person.firstname}"></p>
			</div>
		</div>
	</div>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h1 class="text-primary">Add your review.</h1>
				<h3 class="popover popover-right" id="info"></h3>
				<h4 class="text-danger" th:text="${error}"></h4>

			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<form role="form" th:action="@{/review}" th:object="${reviewData}"
					method="post">

					<div class="form-group">
						<label> Write a review</label>
						<textarea class="form-control" th:rows="5" name="review"
							id="review"></textarea>
					</div>
					<div class="form-group">
						<label> Rating</label> <select name="rating" id="rating">
							<option th:value="1">1</option>
							<option th:value="2">2</option>
							<option th:value="3">3</option>
							<option th:value="4">4</option>
							<option th:value="5">5</option>
						</select>

					</div>

					<div class="hidden" th:each="car : ${details}">
						<input type="hidden" name="carId" th:value="${car.carId}"
							id="carId" />
					</div>
					<input id="add" type="submit" class="btn btn-info btn-md" />
				</form>

			</div>
		</div>

	</div>
	<div th:include="footer :: footer"></div>
	<script th:src="@{/js/ajax.js}" type="text/javascript"></script>
</body>
</html>