<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footer</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/customstyle.css}" rel="stylesheet" />
</head>
<body>
	<div th:fragment="footer">
		<div class="container-fluid">
			<div class="footstyle">
				<div class="footer">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<h5 id="footspace">The Review Point</h5>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<span class="glyphicon glyphicon-icon-car"></span>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<h5>
								Developed by :<i>Prem Christopher</i>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>