<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>success</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="jumbotron">
<h2 class="text-danger"> The Review Point</h2>
</div>
<div th:include="navigation :: menubar"></div>
	<div class="container">
		<h2 class="text-primary"> Details Saved.</h2>
		<h3><span class="text-success" th:text="${register}"></span></h3>
		<h3><span class="text-success" th:text="${success}"></span></h3>
		<h3><a href="/"> Go Home</a></h3>
	</div>
</body>
</html>