<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, intial-scale=1" />
<title>User Details</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/customstyle.css}" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div class="container-fluid">
		<div th:include="header :: header"></div>
	</div>
	<div class="container" id="bar">
		<div class="row">
			<div class="col-md-3" th:each="user:${details}" id="userData">
				<div>
					<img src="/img/23-3.jpg" class="img-circle" id="image_height" />
				</div>
				<div>
					<h3 class="text-primary">
						<span th:text="${user.firstname}+' '+${user.lastname}"></span>
					</h3>
				</div>
				<div>
					<h4 class="text-danger">
						<span th:text="${user.email}"></span>
					</h4>

				</div>
				<div>
					<h4 class="text-danger">
						<span th:text="${user.role.userRole}"></span>
					</h4>

				</div>
			</div>
		</div>
	</div>

</body>
</html>