<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cars</title>
<link
	th:href="@{https://fonts.googleapis.com/css?family=Berkshire+Swash
|Kaushan+Script|Nosifer|Philosopher|David+Libre}"
	rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/customstyle.css}" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50"
	class="bfont">
	<div class="container-fluid">
		<div th:include="header :: header"></div>
	</div>
	<div class="container">
		<div class="row">
			<div th:each="car : ${cars}" class="col-md-4 col-sm-4 col-xs-4">
				<h2>
					<a th:href="@{/viewCars/}+${car.carId}"
						th:text="${car.brand} +' ' + ${car.model}"></a>
				</h2>
			</div>
		</div>
	</div>
	<div th:include="footer :: footer"></div>
</body>
</html>